*{
    margin: 10px;
}
:root{
 --efa-orange-:hsl(26, 100%, 55%);
 --efa-pale-orange-:hsl(25, 100%, 94%);
 --efa-very-dark-blue:hsl(220, 13%, 13%);
 --efa-dark-grayish-blue:hsl(219, 9%, 45%);
 --efa-grayish-blue:hsl(220, 14%, 75%);
 --efa-light-grayish-blue:hsl(223, 64%, 98%);
 --efa-white:hsl(0, 0%, 100%);
 --efa-black:hsl(0, 75%, 0%);
}
body{
    font-size: 16px;
    margin-left: 100px;
}
/*styles the ul header*/
ul{
    display: flex;
    list-style: none;
    position:relative;
}
li{
    color:var(--efa-grayish-blue);
}
li:hover{
    border-bottom:4px solid var(--efa-orange-);
    padding-bottom: 20px;
    color: var(--efa-dark-grayish-blue);
}
header,.avatar-bucket{
    display: flex;
}
.avatar-bucket{
    display: flex;
    margin-left: 350px;
}
.profile{
    position: relative;
    bottom:20px;
}
.profile:hover{
    border: 2px solid var(--efa-orange-);
    border-radius: 50%;
}
.cart{
    margin-right: 0px;
}
.line{
    position: relative;
    bottom:30px;
}
.icon-menu{
    display: none;
}
h1{
    color:var(--efa-black);
}
p, code{
    color: var(--efa-dark-grayish-blue);
}
main{
    display: flex;
    margin-left: 70px;
}
aside{
    padding-left: 70px;
    width: 480px;
    position: relative;
    top:35px;
}
.product1{
    border-radius: 10px;
    height: 320px;
}
#next, #previous{
    display:none;
}
.price{
    display: flex;
    position: relative;
    right:10px;
}
.oldPrice{
    position: relative;
    bottom:10px;
    text-decoration: line-through;
    color:var(--efa-dark-grayish-blue)
}
.percentage{
    border: 1px solid var(--efa-dark-grayish-blue);
    background-color: var(--efa-black);
    color:var(--efa-white);
    display: flex;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 5px;
    margin-top: 20px;
}
button{
    width:250px;
    height: 50px;
    background-color: var(--efa-orange-);
    opacity: 68%;
    border: transparent;
    border-radius: 8px;
    color:var(--efa-black);
    font-weight: 700;
}
.counter{
    display: flex;
    flex-direction: row;
}
.count{
    font-weight: 700;
    padding-top: 15px;
    text-align: center;
    width: 50px;
    height: 35px;
    border-radius: 8px;
}
.counter-container{
    display: flex;
    position:relative;
    bottom:20px;
    flex-direction: row;
    background-color: var(--efa-light-grayish-blue);
    height:50px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
}
.increase,.decrease{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 10px;
    width:30px;
    height: 30px;
    border: transparent;
    border-radius: 8px;
    font-weight: 700;
}
.addToCart{
    display: inline-block;
    position: relative;
    bottom:10px;
}
footer{
    position: relative;
    bottom:40px;
    margin-left: 70px;
}
img,footer{
    border-radius: 5px;
}
.footImg:hover{
    opacity: 0.5;
}
@media (max-width:678px){
    *{
        margin-top: 10px;
        margin-left: 0vh;
        margin-right: 0vh;
        box-sizing: border-box;
    }
  body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  ul{
    display: none;
    
  }
  .avatar-bucket{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
/*This styles the header on the mobile device*/
  .icon-menu{
    display: flex;
    position:absolute;
    left: 10px;
    height: 30px;
    width:40px;
    top:30px;
}
.sneakers{
    display: inline-block;
    position:absolute;
    left: 70px;
}
  .cart{
    position:relative;
    left:240px;
    bottom:10px;
  }
  .profile{
    position: relative;
    bottom:10px;
    left:260px;
    bottom:20px;
    width:40px;
}
.product1{
    border-radius: 0;
    height: 450px;
    width:480px;
    position:absolute;
    top:80px;
    left: 0px;
    z-index: -1;
}
#next{
    display:flex;
    position:relative;
    top:120px;
    right:-250px;
    border: 2px solid var(--efa-white);
    border-radius: 50%;
    width:45px;
    height:45px;
    padding-left: 15px;
    padding-top:10px;
    padding-right:7px;
    background-color: var(--efa-white);
}
#previous{
    display:flex;
    position:relative;
    justify-content: flex-end;
    left:-200px;
    top:120px;
    border: 2px solid var(--efa-white);
    border-radius: 50%;
    width:45px;
    height:45px;
    padding-right: 7px;
    padding-top:10px;
    padding-left:12px;
    background-color: var(--efa-white);
}
aside{
    position:absolute;
    top:550px;
    left:0;
    padding-left: 30px;
    width: 480px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.percentage{
    margin-left: 20px;
}
.oldPrice{
  padding-top: 30px;
}
.price{
    padding-right:60px;
}
.counter{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.counter-container{
    width:400px;
    padding-bottom:20px;
}
.increase,.decrease{
    align-items: center;
}
button{
    width:400px;
    box-shadow: 0px 5px 10px rgba(221, 149, 68, 0.881);

}
.cartfoot{
    margin-right: 20px;

}
footer{
    display: none;
}
.attribution {
     font-size: 11px; text-align: center;
     display: flex;
     position:absolute;
     top:980px;
     color: var(--efa-orange-);
     }
    .attribution a {
         color: var(--efa-black);
         position:relative;
         bottom:10px;
         left:5px;
         text-decoration: none;
         }
}