*{
    margin: 10px;
}
:root{
 --efa-orange-:hsl(26, 100%, 55%);
 --efa-pale-orange-:hsl(25, 100%, 94%);
 --efa-very-dark-blue:hsl(220, 13%, 13%);
 --efa-dark-grayish-blue:hsl(219, 9%, 45%);
 --efa-grayish-blue:hsl(220, 14%, 75%);
 --efa-light-grayish-blue:hsl(223, 64%, 98%);
 --efa-white:hsl(0, 0%, 100%);
 --efa-black:hsl(0, 75%, 0%);
}
body{
    font-size: 16px;
    margin-left: 100px;
}
/*styles the ul header*/
ul{
    display: flex;
    list-style: none;
    position:relative;
}
li{
    color:var(--efa-grayish-blue);
}
li:hover{
    border-bottom:4px solid var(--efa-orange-);
    padding-bottom: 20px;
    color: var(--efa-dark-grayish-blue);
}
header,.avatar-bucket{
    display: flex;
}
.avatar-bucket{
    display: flex;
    margin-left: 350px;
}
.profile{
    position: relative;
    bottom:20px;
}
.profile:hover{
    border: 2px solid var(--efa-orange-);
    border-radius: 50%;
}
.cart{
    margin-right: 0px;
}
.line{
    position: relative;
    bottom:30px;
}
.icon-menu{
    display: none;
}
h1{
    color:var(--efa-black);
}
p, code{
    color: var(--efa-dark-grayish-blue);
}
main{
    display: flex;
    margin-left: 70px;
}
aside{
    padding-left: 70px;
    width: 480px;
    position: relative;
    top:35px;
}
.product1{
    border-radius: 10px;
    height: 320px;
}
#next, #previous{
    display:none;
}
.price{
    display: flex;
    position: relative;
    right:10px;
}
.oldPrice{
    position: relative;
    bottom:10px;
    text-decoration: line-through;
    color:var(--efa-dark-grayish-blue)
}
.percentage{
    border: 1px solid var(--efa-dark-grayish-blue);
    background-color: var(--efa-black);
    color:var(--efa-white);
    display: flex;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 5px;
    margin-top: 20px;
}